<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/logout">Cerrar seccion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/profile" target="_blank">Usuario</a>
            </li>
        </ul>
    </div>
</nav>

<div class="text-center title_main">
    <h1>Plataforma academica institucional</h1>
    <hr>
    <h2>Pagina de los acudientes</h2>
    <h2>Pagina principal</h2>
    <p>Selecciona alguna de los menus en la parte inferior</p>
</div>
<hr>
<div class="container body_main">
    <div class="row">
        <div class="col">
            <h3>Estudiantes</h3>
            <a href="/acudiente/{{user.documento}}" target="_blank" class="btn btn-secondary btn-block">Listar
                estudiantes</a>

        </div>
    </div>
</div>