<div class="text-center title_main">
    <h1>Pagina principal</h1>
    <p>Selecciona alguna de los menus en la parte inferior</p>
</div>
<hr>
<div class="container body_main">
    <div class="row">
        <div class="col">
            <h3>Estudiantes</h3>
            <a href="/estudiantes" class="btn btn-secondary btn-block">Listar estudiantes</a>
            <a href="/matricular_estudiante" class="btn btn-secondary btn-block">Matricular estudiante</a>
        </div>
        <div class="col">
            <h3>Asignaturas</h3>
            <a href="/asignaturas" class="btn btn-secondary btn-block">Ver asignaturas</a>
            <a href="/registrar_asignatura" class="btn btn-secondary btn-block">Registrar asignaturas</a>
        </div>
        <div class="col">
            <h3>Grupos</h3>
            <a href="/grupos" class="btn btn-secondary btn-block">Ver grupos</a>
            <a href="/registrarGrupo" class="btn btn-secondary btn-block">Registrar grupo</a>
        </div>
        <div class="col">
            <h3>Docentes</h3>
            <a href="/docentes" class="btn btn-secondary btn-block">Ver docentes</a>
            <a href="/registrarDocente" class="btn btn-secondary btn-block">Registrar docente</a>
        </div>
        <div class="col">
            <h3>Acudientes</h3>
            <a href="/acudientes" class="btn btn-secondary btn-block">Ver acudientes</a>
            <a href="/registrarAcudiente" class="btn btn-secondary btn-block">Registrar acudientes</a>
        </div>

    </div>
</div>